{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $theme := resources.Get "js/theme.js" }}
{{ $secureJS := slice $main $menu $prism $theme | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script async type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- if .Site.GoogleAnalytics }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.GoogleAnalytics}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{.Site.GoogleAnalytics}}');
    </script>
{{- end}}

<!-- Hotjar Tracking Code -->
{{- if .Site.Params.hotJar }}
    <script async>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:{{.Site.Params.hotJarID}},hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('link');r.async=1;
        r.rel= 'preload';
        r.as = 'script';
        r.href=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
{{- end}}


{{ range $val := $.Site.Params.customJS }}
	{{ if gt (len $val) 0 }}
		<script src="{{ $val }}"></script>
	{{ end }}
{{ end }}
