{{ define "main" }}
    <main aria-role="main">
        <div id="v-savero">
            <div v-if="!unlocked">
                <div @click="touch()">
                    {{ partial "fingerprint.html" . }}
                </div>
            </div>
            <div class="typewriter animated fadeIn" v-else>
                    <h1 class="icon-3d">{{ .Site.Title }}</h1>
                    {{- with .Site.Params.homeSubtitle }}
                        <p>{{.}}</p>
                    {{- end }}

                    {{- with .Site.Params.social }}
                        <div>
                            {{ partial "social-icons.html" . }}
                        </div>
                    {{- end }}
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
    <script>
      new Vue({
        el: '#v-savero',
        data: function() {
          return {
            unlocked: this.getWithExpiry('unlocked')
          }
        },
        computed: {
          model_unlocked: {
            get() {
              return this.getWithExpiry('unlocked')
            },
            set(v) {
              this.setWithExpiry('unlocked', v, 300000);
              this.unlocked = this.getWithExpiry('unlocked')
            }
          }
        },
        created() {
          // this.setWithExpiry('unlocked', false, 30000)
          // this.unlocked = this.getWithExpiry('unlocked')
        },
        methods: {
          setWithExpiry(key, value, ttl) {
            const now = new Date()
            if(!localStorage.getItem(key)) {
                const item = {
                  value: value,
                  expiry: now.getTime() + ttl
                };
                localStorage.setItem(key, JSON.stringify(item))
            }
          },
          getWithExpiry(key) {
            const itemStr = localStorage.getItem(key)
            if(!itemStr) {
              return null
            }
            const item = JSON.parse(itemStr)
            const now = new Date()
            if(now.getTime() > item.expiry) {
              localStorage.removeItem(key)
              return null
            }
            return item.value
          },
          touch() {
            let self = this;
            const container = document.querySelector('.ctr')
            container.addEventListener('animationend', () => {
              self.model_unlocked = true;
              container.classList.remove('ac');
            });
          }
        },
        delimiters: ["<%", "%>"]
      })
    </script>

{{ end }}
