{{ define "main" }}
    <main>
        <div>
            <div v-if="!unlocked">
                <div @click="touch()">
                    {{ partial "fingerprint.html" . }}
                </div>
            </div>
            <div class="typewriter animated fadeIn" v-else>
                    <h1 data-text="{{.Site.Title}}" class="example-one icon-3d">{{ .Site.Title }}</h1>
                    {{- with .Site.Params.homeSubtitle }}
                        <p>{{.}}</p>
                    {{- end }}

                    {{- with .Site.Params.social }}
                        <div>
                            {{ partial "social-icons.html" . }}
                        </div>
                    {{- end }}
                <p class="hr-line">
                    {{.Site.Author.name }} activity
                </p>
            </div>
{{/*            {{ $githubUser := "saveroo"}}*/}}
{{/*            {{ $githubLink := print "https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fwww.github.com%2F" $githubUser ".atom"}}*/}}
{{/*            {{ $json := getJSON $githubLink }}*/}}
{{/*            {{with $json }}*/}}
{{/*                {{range first 3 $json.items }}*/}}
{{/*                    <div>*/}}
{{/*                        <br>*/}}
{{/*                        <div class="animated bounceInRight">*/}}
{{/*                            {{ safeHTML .description }}*/}}
{{/*                        </div>*/}}
{{/*                        <br>*/}}
{{/*                        <hr class="animated bounceInLeft">*/}}
{{/*                    </div>*/}}
{{/*                {{end}}*/}}
{{/*            {{end}}*/}}
            <div class="" v-if="unlocked">
                <Github-Activity></Github-Activity>
            </div>
        </div>
    </main>
{{ end }}
